# Application
APP_ENV=local

# HTTP server
HTTP_HOST=0.0.0.0
HTTP_PORT=8080

# gRPC dependencies
GRPC_REPOSITORY_URL=localhost:50052
GRPC_EXCHANGE_RATE_URL=localhost:50053

# Six-digit bank identification number
CARD_BIN=537541

# Kafka (the application can use this after a Kafka client is integrated)
KAFKA_BROKERS=localhost:29092
KAFKA_PORT=29092
